{% extends "base.html" %}

{% block content %}
{% load static %}

<style>
  .container-box {
    max-width: 1300px;
    margin: 0 auto 30px;
    padding: 15px 10px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    border: 1px solid #ddd;
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 sütun */
    gap: 8px 19px;

  }

  /* Responsive */
  @media (max-width: 1200px) {
    .cards-wrapper {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 600px) {
    .cards-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 400px) {
    .cards-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .card-item {
    width: 164px;
    height: 110px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    box-shadow: 0 3px 6px rgba(13, 110, 253, 0.12);
    padding: 10px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .card-title {
    height: 50px;
    font-weight: 600;
    text-transform: capitalize;
    color: #0d6efd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .card-subtitle {
    height: 50px;
    color: #6c757d;
    font-weight: 120;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    text-align: center;
  }

  .card-date {
    height: 30px;
    font-weight: 600;
    color: #212529;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    text-align: center;
  }

  .no-data {
    color: #dc3545;
    font-weight: 600;
  }
</style>

<div class="container-box">

  <div class="cards-wrapper">
    {% for item in data %}
      {% if forloop.counter == 15 %}
        </div> <!-- İlk cards-wrapper kapatılıyor -->
        <div class="cards-wrapper" style="margin-top: 10px;"> <!-- İkinci satır -->
      {% endif %}

      <div class="card-item">
        <div class="card-title">{{ item.source_category|default:"-" }}</div>
        <div class="card-subtitle">{{ item.selective_part|default:"-" }}</div>
        <div class="card-date">
          {% if item.latest_time %}
            {{ item.latest_time|date:"Y-m-d H:i" }}
          {% else %}
            <span class="no-data">Veri yok</span>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p style="grid-column: 1 / -1; text-align:center;">Gösterilecek veri bulunamadı.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
